apiVersion: 1

datasources:
  - name: prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: 'prometheus'
    url: http://prometheus:9090
    basicAuth: false
    isDefault: true
    jsonData:
      timeInterval: 15s
      tlsAuth: false
      tlsAuthWithCACert: false

  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    uid: 'loki_ds'
    url: http://loki:3100
    basicAuth: false
    isDefault: false
    jsonData:
      maxLines: 1000

  - name: Tempo
    type: tempo
    access: proxy
    orgId: 1
    uid: 'tempo_ds'
    url: http://tempo:3200
    basicAuth: false
    isDefault: false
    jsonData:
      httpMethod: GET
      serviceMap:
        enabled: true
      nodeGraph:
        enabled: true
      traceQuery:
        timeShiftEnabled: true
