@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
  @apply font-bold;
  @apply my-2;
}

h2 {
  @apply text-xl;
  @apply font-bold;
  @apply my-2;
}

h3 {
  @apply text-lg;
  @apply font-bold;
  @apply my-2;
}

h4 {
  @apply text-lg;
  @apply font-semibold;
  @apply my-2;
}

p {
  @apply my-2;
}

body {
  margin: 0;
}

html,
body,
#__next,
main {
  scroll-behavior: smooth;
  font-size: 14px;
}

.min-h-100svh {
  min-height: 100vh;
  min-height: 100svh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font: inherit;
}
