# Database environments
AUTH_DATABASE_DB=
AUTH_DATABASE_USER=
AUTH_DATABASE_PASSWORD=
AUTH_DATABASE_SCHEMA=auth
AUTH_DATABASE_HOST= 
AUTH_DATABASE_URL=postgresql://${AUTH_DATABASE_USER}:${AUTH_DATABASE_PASSWORD}@${AUTH_DATABASE_HOST}:5432/${AUTH_DATABASE_DB}?schema=${AUTH_DATABASE_SCHEMA}