 DATABASE_USER=
 DATABASE_PASSWORD=
 DATABASE_HOST=
 DATABASE_DB=
 DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:5432/${DATABASE_DB}

# DATABASE_URL=postgres://postgres......supabase.com:6543/postgres?pgbouncer=true&connection_limit=1
# DIRECT_URL=postgres://postgres......supabase.com:5432/postgres