@import '@js-monorepo/base';

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
  @apply font-bold;
}

h2 {
  @apply text-xl;
  @apply font-bold;
}

h3 {
  @apply text-lg;
  @apply font-bold;
}

h4 {
  @apply text-lg;
  @apply font-semibold;
}

@layer base {
  :root {
    --navbar-height: 50px; /* Define the height of your navbar */
    --navbar-offset: calc(var(--navbar-height));
    --border: 240 4% 56%;

    --background-primary: 0 0% 95%;
    --foreground: 0 0% 0%;
    --foreground-hover: 0 0% 35%;
    --background-secondary: 219 33% 21%;
    --background-secondary-lighter: 219 33% 40%;

    /* Turquoise */
    --primary: 174 72% 56%;
    --primary-foreground: 0 0% 1%;
    --primary-hover: 174 65% 41%;
    --primary-border: 176 73% 36%;

    /* Gold */
    --secondary: 49 100% 67%;
    --secondary-foreground: 0 0% 1%;
    --secondary-hover: 49 81% 51%;
    --secondary-border: 47 72% 51%;

    /* Blue */
    --accent: 224 76% 54%;
    --accent-foreground: 0 0% 1%;
    --accent-hover: 224 76% 41%;
    --accent-border: 224 76% 52%;

    /* Pink */
    --danger: 351 100% 86%;
    --danger-foreground: 0 0% 1%;
    --danger-hover: 351 72% 75%;
    --danger-border: 258 49% 66%;

    --destructive: 0 0% 78%;
    --destructive-hover: 0 0% 71%;
  }

  .dark {
    --border: 240 4% 16%;

    --background-primary: 221 39% 11%;
    --foreground: 0 0% 100%;
    --foreground-hover: 49 81% 51%;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #899597;
}
