@import '@js-monorepo/base';

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
  @apply font-bold;
}

h2 {
  @apply text-xl;
  @apply font-bold;
}

h3 {
  @apply text-lg;
  @apply font-bold;
}

h4 {
  @apply text-lg;
  @apply font-semibold;
}

@layer base {
  :root {
    --border: 240 4% 16%;

    --background: 221 39% 11%;
    --foreground: 219 33% 21%;

    /* Turquoise */
    --primary: 174 72% 56%;
    --primary-foreground: 0 0% 1%;
    --primary-hover: 174 65% 49%;
    --primary-border: 176 73% 36%;

    /* Gold */
    --secondary: 49 100% 67%;
    --secondary-foreground: 0 0% 1%;
    --secondary-hover: 49 81% 59%;
    --secondary-border: 47 72% 51%;

    /* Blue */
    --accent: 217, 91%, 60%;
    --accent-foreground: 0 0% 1%;
    --accent-hover: 224 76% 48%;
    --accent-border: 224 76% 48%;

    /* Pink */
    --danger: 351 100% 86%;
    --danger-foreground: 0 0% 1%;
    --danger-hover: 351 78% 82%;
    --danger-border: 258 49% 66%;

    --destructive: 0 0% 78%;
    --destructive-hover: 0 0% 71%;
  }
}

html {
  /* scrollbar-gutter: stable; */
}
