@import '@js-monorepo/styles/_base';
@import '@js-monorepo/styles/_tailwind';
@import '@js-monorepo/styles/_themes';

/* Base variables (not theme-specific) */
:root {
  --navbar-height: 60px;
  --bottom-navbar-height: 60px;
  --tw-shadow-color: 0 0% 20%;
}

.glow {
  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle), #213, #112 5%, #112 60%, #213 95%);
  border: solid 2px transparent;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    rgb(255, 0, 200),
    rgb(0, 255, 136) 99%,
    transparent
  );
  background:
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0turn;
}
